<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="shortcut icon" href="/static/img/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/index.css')}}">
        <link href="/static/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->

        <title>Calculadora Operações</title>
    </head>
    <body>
        <div class="texto">
            <h1>A operação escolhida foi: {{ operacao }}, para os valores a={{ a }} e b={{ b }}. O resultado é: {{valor}}</h1>
        </div>
    </body>
</html>


<span class="fas fa-cogs"></span>